@import url('http://fonts.cdnfonts.com/css/shikamaru');

.game-background {
  background-image: url('./imgs/Background.png');
  background-position: center;
  background-size: contain;
  overflow: hidden;
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  position: absolute;
  top: 15vh;
  left: 15vw;
  transition: 0.3s ease-out;
}

.danger-icon {
  font-family: Shikamaru, sans-serif;
  position: absolute;
  right: 0px;
  left: 48%;
  bottom: 45%;
  color: red;
  margin-top: 490px;
  z-index: 5;
  font-size: 70px;
}

.game-content {
  width: 100%;
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.life-bar {
  width: 550px;
  position: fixed;
  top: 20vh;
  left: 17vw;
}

.life-bar-in {
  z-index: 1;
  position: fixed;
  width: 271px;
  height: 22px;
  margin-left: 2px;
  margin-top: 2px;
  background-color: rgb(180, 0, 0);
  transition: ease-out 0.2s;
}

.life-bar-out {
  z-index: 2;
  position: fixed;
  width: 276px;
  height: 27px;
  background-image: url('./imgs/UI/Lifebar.png');
  background-repeat: no-repeat;
}